@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
	.btn-blue {
		background: blue;
		padding: 0.5rem 1.5rem;
		color: white;
		border-radius: 5px;
	}
	.btn-green {
		@apply px-4 py-[11px] text-white bg-[#0C4F24] rounded-[8px] font-jaka border-[1px] ;
	}
	.nav-link {
		@apply text-gray4 text-[14px] font-jaka leading-normal;
	}
	.nav-link-mobile {
		@apply block text-gray4 text-[14px] font-jaka leading-normal mb-2;
	}

	.active {
		@apply border-b-2 border-white;
	}
}

/* this wil change tailwind base configuration that set list-style to none and  margin and padding values to zero */

/* all the classes used in tailwind or all the tailwind used classes are injected in the utility layer */
/* removing the utilities layer   will make all your used classes not to be compiled to output.css file and your work will be messy */

@layer utilities {
}
